NEXT_PUBLIC_SUPABASE_URL = https://mjjxagrofvkqequieatj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qanhhZ3JvZnZrcWVxdWllYXRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzOTUzNzQsImV4cCI6MjEwNDk3MTM3NH0.aLlYhqlOLl_Wgg8AFxuzRTPEON_xcWwUcj6SnQs4v2E